{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
        <!-- Flash messages for errors or information -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username">Username</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" type="text">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control mx-auto w-auto" id="password" name="password" type="password">
            </div>
            <div class="mb-3">
                <label for="password-again">Enter Password Again</label>
                <input class="form-control mx-auto w-auto" id="password-again" name="confirmation" type="password">
            </div>
            <button class="btn btn-primary kawaii-button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
